{% extends 'backend/_default/base.html.twig' %}

{% set pagetitle = "seo.seo"|trans%}
{% block pagetitle %} 
    {{ pagetitle}}
{% endblock %}

{% block title %} 
    {{ pagetitle}}
{% endblock %}

{% block content %}

    {% embed "backend/_default/partials/mainform.html.twig" %}
        {% block tabbedform %}

            <ul class="nav nav-tabs nav-line-tabs nav-line-tabs-2x border-transparent fs-4 fw-semibold">
                {% if is_granted('ROLE_DEVELOPER') %}
                <!--begin:::Tab item-->
                <li class="nav-item">
                    <a class="nav-link text-active-primary pb-5 active" data-bs-toggle="tab" href="#tab_1_info">
                    <!--begin::Svg Icon | path: icons/duotune/general/gen001.svg-->
                    <span class="svg-icon svg-icon-2 me-2">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 2.375L2 9.575V20.575C2 21.175 2.4 21.575 3 21.575H9C9.6 21.575 10 21.175 10 20.575V14.575C10 13.975 10.4 13.575 11 13.575H13C13.6 13.575 14 13.975 14 14.575V20.575C14 21.175 14.4 21.575 15 21.575H21C21.6 21.575 22 21.175 22 20.575V9.575L13 2.375C12.4 1.875 11.6 1.875 11 2.375Z" fill="currentColor" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->{{ "general.information"|trans}}</a>
                </li>
                {% endif %}
                {% for i,trans in form.translations %} 
                <!--begin:::Tab item-->
                <li class="nav-item">
                    <a class="nav-link text-active-primary pb-5" data-bs-toggle="tab" href="#tab_1_{{i}}">
                    <!--begin::Svg Icon | path: icons/duotune/maps/map004.svg-->
                    <span class="svg-icon svg-icon-2 me-2">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path opacity="0.3" d="M18.4 5.59998C21.9 9.09998 21.9 14.8 18.4 18.3C14.9 21.8 9.2 21.8 5.7 18.3L18.4 5.59998Z" fill="currentColor" />
                            <path d="M12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2ZM19.9 11H13V8.8999C14.9 8.6999 16.7 8.00005 18.1 6.80005C19.1 8.00005 19.7 9.4 19.9 11ZM11 19.8999C9.7 19.6999 8.39999 19.2 7.39999 18.5C8.49999 17.7 9.7 17.2001 11 17.1001V19.8999ZM5.89999 6.90002C7.39999 8.10002 9.2 8.8 11 9V11.1001H4.10001C4.30001 9.4001 4.89999 8.00002 5.89999 6.90002ZM7.39999 5.5C8.49999 4.7 9.7 4.19998 11 4.09998V7C9.7 6.8 8.39999 6.3 7.39999 5.5ZM13 17.1001C14.3 17.3001 15.6 17.8 16.6 18.5C15.5 19.3 14.3 19.7999 13 19.8999V17.1001ZM13 4.09998C14.3 4.29998 15.6 4.8 16.6 5.5C15.5 6.3 14.3 6.80002 13 6.90002V4.09998ZM4.10001 13H11V15.1001C9.1 15.3001 7.29999 16 5.89999 17.2C4.89999 16 4.30001 14.6 4.10001 13ZM18.1 17.1001C16.6 15.9001 14.8 15.2 13 15V12.8999H19.9C19.7 14.5999 19.1 16.0001 18.1 17.1001Z" fill="currentColor" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->{{globallangs[i]}}</a>
                </li>
                {% endfor %}
            </ul>

            <div class="tab-content">
                {% if is_granted('ROLE_DEVELOPER') %}
                    <div class="tab-pane fade show active" id="tab_1_info"> 
                        {{ form_row(form.title) }} 
                        {{ form_row(form.code) }}   
                    </div>

                {% endif %}
                {% for i,trans in form.translations %}
                    <div class="tab-pane fade" id="tab_1_{{i}}"> 

                        <div class=" col-md-12  transfields">
                            {{ form_widget(trans) }} 

                        </div> 

                    </div> 
                {% endfor %} 

            </div>  

        {% endblock %} 


    {% endembed %}   

{% endblock %} 